<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
	<meta charset="UTF-8"/>
	<meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
	<title th:text="'Manjaly Bakes - ' + ${title}"></title>
	
	<!-- CSS -->
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{css/jquery-ui.min.css}"/>
	<link rel="stylesheet" th:href="@{css/all.css}"/>
	<link rel="stylesheet" th:href="@{css/css-loader.css}"/>
	<link rel="stylesheet" th:href="@{css/tabulator_midnight.min.css}"/>
	<link rel="stylesheet" th:href="@{css/datepicker.min.css}"/>
	<link rel="stylesheet" th:href="@{css/js-snackbar.min.css}"/>

	<link rel="stylesheet" th:href="@{customstyles/style.css}"/>

	<!-- SCRIPTS -->
	<script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap4.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/tabulator.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.validate.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/datepicker-full.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/xlsx.full.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/js-snackbar.min.js}"></script>

	<script type="text/javascript" th:src="@{/controller/common.js}"></script>

	
	
</head>
<body>

	<header th:fragment="menu">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{'/'}">Manjaly Bakes</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="#"
						th:href="@{/cashbookfilter}">Report</a></li>
				</ul>
				<ul class="navbar-nav navbar-right" sec:authorize="isAuthenticated()">
					<li><a
						class="btn btn-outline-primary" th:href="@{/logout}">Log Out</a></li>
				</ul>
			</div>
		</nav>

		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}">
		</div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}">
		</div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}">
		</div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}">
		</div>
	</header>

	<footer th:fragment="footer" class="container">
		<hr />
		<p sec:authorize="isAuthenticated()"></p>
		<div class="text-center">
			<p>Created by  Rijas Rasheed - <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}"></span></p>
		</div>
	</footer>

</body>
</html>