<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/layout :: head"></head>
<head>
	<link rel="stylesheet" th:href="@{customstyles/style.css}"/>
</head>
<body>
<script type="text/javascript" th:src="@{/controller/form-controller.js}"></script>
	<header th:replace="/layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-dark text-white">
			<div class="row">
				<div class="card-header pull-left col-md-6"
					 style="margin-left: 15px !important;" th:text="${title}">
				</div>
				<div class="card-header  col-md-5">
					<span style="float: right; padding: .5%;" th:text="${date}"></span>
				</div>
			</div>
			<div class="card-body">
				<div th:object="${cashBook}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/cashbook?(page=${page.currPage-1})}" th:object="${cashBook}" method="post" id="form">
					<input type="hidden" th:field="*{cashBookId}" id="cashBookId">
					<div class="row">
						<table th:replace="/layout/cashbook_list :: cashbook_list"></table>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Item</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{particular}" class="form-control"
								th:errorclass="'form-control alert-danger'" required autofocus/> <small
								th:if="${#fields.hasErrors('particular')}" th:errors="*{particular}"
								class="form-text text-danger"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Transaction Type</label>
						<div class="col-sm-6">
								<select class="form-control" th:field="*{transactionType}" id="transactionTypes" name="transactionTypes">
									<option th:each="transactionType : ${transactionTypes}" 
										th:value="${transactionType.transactionTypeId}"
										th:text="${transactionType.type}">
									</option>
								</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Transaction Mode</label>
						<div class="col-sm-6">
								<select class="form-control" th:field="*{transactionMode}" id="transactionModes" name="transactionModes">
									<option th:each="transactionMode : ${transactionModes}"
											th:value="${transactionMode.transactionModeId}"
											th:text="${transactionMode.mode}">
									</option>
								</select>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Amount</label>
						<div class="col-sm-6">
							<input type="number" th:field="*{amount}" class="form-control"
								th:errorclass="'form-control alert-danger'" required /> <small
								th:if="${#fields.hasErrors('amount')}"
								th:errors="*{amount}" class="form-text text-danger" ></small>
						</div>
					</div>
					
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" value="Add"
								class="btn btn-success" />
						</div>
					</div>
				</form>
			</div>
		</div>


	</div>

	<footer th:replace="/layout/layout :: footer"></footer>
</body>
</html>